.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 50px;
  padding-top: 70px;
  width: 80%;
}

.movies a {
  display: contents;
  text-decoration: none;
}

@media (max-width:600px) {
  .movies {
    width:100%;
    padding: 2rem 0 2rem 0;
    flex-flow: column nowrap;
    align-items: center;
  }
}