.navigation {
  width: 100%;
  height:100%;
  padding-top: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
}


.navigation a{
  text-decoration: none;
  color: #a41957ef;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  font-weight: 800;
  padding: 15px;
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
}

/* .navigation a:not(:last-child) {
  margin-bottom: 0.5rem;
} */

.navigation a:hover {
  background-color: #4e4e4e;
  color: #c53977;
}


@media (max-width:600px) {
  .navigation {
    width: auto;
    height: 100%;
    flex-flow: row;
    padding: 0px;
    margin-right: 2rem;
  }
}
